/* client/src/App.css or a new CSS file for global styling */

body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  background: url('LBW5.jpg')  
}

/* Additional styling for your content, if needed */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}


