/* client/src/Header.css */

/* Added styling for navbar and buttons */
.navbar {
    background-color: #5395ae;
    padding: 15px 0;
    color: #fff;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
  }

.delete-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
    
